@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    background-image: url(terminal.gif);
    font-family: 'Orbitron', sans-serif;
}
h1{
    font-family: 'Orbitron', sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 70px;
    text-shadow: 0 0 10px rgb(61, 241, 45);
}
h4{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: 70px;
    /* made by dab */
    text-shadow: 0 0 10px rgb(61, 241, 45);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: 'Orbitron', sans-serif;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4,50px);

}

#result{
    grid-column: span 4;
    /* width: 300px; */
    height: 30px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
    text-align: right;
    border-radius: 40px;
    background-color: black;
    color: rgb(61, 241, 45);
    box-shadow: 0px 0px 0px 3px rgb(61, 241, 45);
}

button {
    display: inline-block;
    padding: 5px 3px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 40px;
    background-color: #aaa9ad;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(61, 241, 45);
    box-shadow: 0px 0px 0px 2px rgb(61, 241, 45);
}