@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
.gr0{
    text-align: center;
    margin-top: 50px;
    font-family: 'Urbanist', sans-serif;
}

.gr1{
   
    text-align: center;
    margin-top: 80px;
    font-size: xx-large;
    font-family: 'Urbanist', sans-serif;
}
.gr2{

    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: large;
    font-family: 'Urbanist', sans-serif;
}
.row{
    margin-top: 20px;
    padding-top: 10px;
}
a:link{
    color: #000;
}
a:visited{
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(210, 238, 110)!important;
    background-color: transparent;
}

iframe{
     margin-top: 100px;
     width: 600px;
     height: 400px;
}

i{
    padding: 10px;
    font-size: 2.5rem;
}

button{
    color: whitesmoke;
    background-color: #000 ;
    border-radius: 10%;
    transition-duration: 0.5s;
}
button:hover{
    color: rgb(0, 0, 0)!important;
    background-color: rgb(210, 238, 110);
}

footer{
    color: black;
}

body
    {
    	background: linear-gradient(to bottom,#80fc9f 20%, #6ab0e9 70%, #6a73e9 100%)!important;
        
    } 

