#d1{
    background-image: url("blue-bokeh-computer-code-background-job-offer-blue-bokeh-computer-code-background-job-offer-coding-code-learning-180554511.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2{
    text-align: center;
}

.btn{
   margin-top: 30px; 
   margin-bottom: 150px;
} 

.card{
    margin: 5px;
}

.card-title{
    margin-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}