@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    margin: 20px;
    padding: 0;
    /* font-size: 20px;
    M A D E    B Y   D A B
    line-height: 1.5; */
  
}
h1{
    padding-top: 40px;
    /* made by dab */
    padding-bottom: 60px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

p {
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
}

#switcher{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#switcher li {
    /* float: left; */
    width: 160px;
    height: 80px;
    margin: 0 15px 15px 0;
    border-radius: 20px;
    border: 7px solid rgb(0, 0, 0);
}

#grayBtn {
    background-color: rgb(138, 136, 136) ;
}

#purpleBtn{
    background-color: rgb(209, 81, 241) ;
}

#yellowBtn{
    background-color: rgb(243, 240, 39) ;
}

#greenBtn{
    background-color: rgb(130, 255, 47) ;
}
