@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background-color: rgb(127, 240, 212) !important;
}
#loancal{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
    color: rgb(0, 0, 0);
}

p{
    padding-top: 20px;
}

#payment{
    margin-top: 45px;
}

#amount, #interest_rate, #months{
    width: 200px;
    height: 23px;
}

.dab{
    margin-top: 150px;
}