@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

body{
    background-image: url(giphy0.gif) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    text-align: center;
    margin: 100px;
    font-family: 'Gluten', cursive;
}

h1{
    
    padding-bottom: 50px;
}

button{
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

button:hover{
    background-image: url(giphy1.gif) ;
}


p{
    padding: 10px;
}