body{
    background-image: url(giphy.gif) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    text-align: center;
    color: rgb(77, 46, 92);
    padding-top: 50px;
    padding: 20px;
}

h4{
    padding-top: 20px;
}
#submit{
    margin-top: 55px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    transition-duration: 0.4s;
    /* transition-delay: .5s; */
}

#submit:hover{
    background-color: rgb(136, 112, 245);
    
}




/* made by dab */